html {
    line-height: 1.15;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $textColor;
}

h1 {
    font-size: 2em;
}


code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
    font-family: monospace;
    font-size: 1em;
}
  